<button class="button" type="submit">
    <a href='@Url.Action("Registrarte", "Dennys")'>Registrarte</a>
</button>

<button class="button" type="submit">
    <a href='@Url.Action("Login", "Dennys")'>Iniciar Sesion</a>
</button>
