<form action='@Url.Action("GuardarRestaurante","Dennys")' method="post">
    <input type="text" name="Nombre" placeholder="Nombre" required> 
    <input type="text" name="Direccion" placeholder="Direccion" required> 
    <input type="text" name="HorarioApertura" placeholder="Horario de Apertura" required>
    <input type="text" name="HorarioClausura" placeholder="Horario de Apertura" required>
    <input type="date" name="FechaFundacion" placeholder="Fecha de Fundacion" required>
    <input type="text" name="Imagen" placeholder="Imagen" required>
    <input type="text" name="Descripcion" placeholder="Descripcion" required>
    <button type="submit">Agregar Restaurante</button>
</form>