<main class="main-rese単as">
    <div class="padre-rese単as">
        @foreach (var item in ViewBag.ListaReservas)
        {
            <div class="card-rese単a">
                <div class="dentro-rese単as">
                    <p>@item.NombreRestaurante</p>
                    <p>@item.FechaReserva</p>
                    <p>@item.HoraReserva</p>
                    <p>@item.CantidadPersonas</p>
                </div>
            </div>
        }
    </div>
</main>